@import "tailwindcss";

:root {
  --color-primary-1: #FF4B4B;
  --color-primary-2: #FF9900;
  --color-secondary-1: #FFD600;
  --color-secondary-2: #00D084;
  --color-accent-1: #1DE9B6;
  --color-accent-2: #2979FF;
  --color-background-1: #3F51B5;
  --color-background-2: #9C27B0;
  --color-info-1: #E040FB;
  --color-info-2: #795548;
}